body{
    font-family: sans-serif;
    color: #01df01;
    background-color: black;
}


#decoBkgVideo{
    
    top: 0%;
    left: 0%;
    width: 100%;
    position: absolute;
    
    


}



.menufull{
    width: 50%;
    margin: auto;
 }



 


   